:root {
  --main-accent-color: #d41443;
  --secondary-accent-color: #c7133e;
  --third-accent-color: #d41342;
  --non-accent-color: #fea5bb;
  --title-label: #ffa5ba;
  --background-color: #ffb8ca;
  --background-color-coffee: #f0d1a5;
  --background-color-shakes: #c2e297;
  --main-black-color: #000000;
  --main-white-color: #ffffff;
  --main-gray-color: #907e82;
}

body {
  font-family: 'DM Sans', sans-serif;
  color: var(--main-black-color);
  font-size: 16px;
  letter-spacing: 0.04em;
  background-color: var(--main-white-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
  font-family: inherit;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}

.products {
  padding-top: 127px;
  padding-bottom: 119px;
}

.products-article {
  font-family: Titan One;
  font-size: 30px;
  line-height: 1.13;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--title-label);
  margin-bottom: 15px;
}

.products-title {
  font-family: Titan One;
  font-size: 58px;
  line-height: 1.14;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--main-accent-color);
  margin-bottom: 49px;
}

.product-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-list__item {
  padding-top: 163px;
  padding-bottom: 50px;
  width: 329px;
  height: 525px;
  border-radius: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-list__item--cream {
  background-color: var(--background-color);
  margin-right: 29px;
}

.product-list__item--coffee {
  background-color: var(--background-color-coffee);
  margin-right: 30px;
}

.product-list__item--shakes {
  background-color: var(--background-color-shakes);
}

.product-list__title {
  font-family: Titan One;
  font-size: 30px;
  line-height: 1.13;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--main-white-color);
  margin-bottom: 32px;
}

.product-list__article {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.8;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--main-white-color);
  padding-left: 44px;
  padding-right: 44px;
  margin-bottom: 62px;
}

.products-button {
  width: 40px;
  height: 40px;
}

.section__contacts {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(92%, #fff5f6), color-stop(20%, white));
  background: linear-gradient(0deg, #fff5f6 92%, white 20%);
}

@media screen and (min-width: 768px) {
  .section__contacts {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(85%, #fff5f6), color-stop(20%, white));
    background: linear-gradient(0deg, #fff5f6 85%, white 20%);
  }
}

.container__contacts {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .container__contacts {
    padding-left: 34px;
    padding-right: 34px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.contacts__namecards {
  background-color: #fff;
}

.center__btn {
  text-align: center;
}

.btn__red {
  display: inline-block;
  margin-bottom: 10px;
  width: 161px;
  height: 44px;
  border-radius: 22px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #d41342;
  -webkit-transition: background-color var(--time) var(--cubic);
  transition: background-color var(--time) var(--cubic);
  cursor: pointer;
}

.btn__white {
  width: 161px;
  height: 44px;
  border-radius: 22px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #d41443;
  background: #ffffff;
  -webkit-transition: background-color var(--time) var(--cubic);
  transition: background-color var(--time) var(--cubic);
  cursor: pointer;
}

.btn__white:hover,
.btn__white :focus {
  background: #ecebeb;
}

.contacts__btn {
  width: 80px;
  height: 16px;
  border-radius: 4px;
  font-family: DM Sans;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.23;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #f0d1a5;
  -webkit-transition: background-color var(--time) var(--cubic);
  transition: background-color var(--time) var(--cubic);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .contacts__btn {
    width: 73px;
    height: 28px;
  }
}

.contacts__btn--foodtruck {
  width: 130px;
  height: 16px;
  border-radius: 4px;
  font-family: DM Sans;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.23;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #c2e297;
  -webkit-transition: background-color var(--time) var(--cubic);
  transition: background-color var(--time) var(--cubic);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .contacts__btn--foodtruck {
    width: 138px;
    height: 28px;
  }
}

.contacts__namecards {
  width: 220px;
  height: 427px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  background: #ffffff;
  -webkit-box-shadow: 0px 8px 8px 0px rgba(212, 20, 67, 0.1);
          box-shadow: 0px 8px 8px 0px rgba(212, 20, 67, 0.1);
  border-radius: 30px;
}

@media screen and (min-width: 768px) {
  .contacts__namecards {
    width: 220px;
    height: 544px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 20px;
    margin-left: 0px;
    margin-bottom: 30px;
    background: #ffffff;
    -webkit-box-shadow: 0px 8px 8px 0px rgba(212, 20, 67, 0.1);
            box-shadow: 0px 8px 8px 0px rgba(212, 20, 67, 0.1);
    border-radius: 30px;
  }
}

@media screen and (min-width: 768px) {
  .contacts__namecards {
    width: 330px;
    height: 572px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 20px;
    margin-left: 0px;
    margin-bottom: 30px;
    background: #ffffff;
    -webkit-box-shadow: 0px 8px 8px 0px rgba(212, 20, 67, 0.1);
            box-shadow: 0px 8px 8px 0px rgba(212, 20, 67, 0.1);
    border-radius: 30px;
  }
}

.contacts__namecards:last-child {
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .contacts__namecards:last-child {
    margin-right: 0px;
  }
}

.contacts__text {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  margin-top: 20px;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .contacts__text {
    font-size: 14px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__text {
    font-size: 16px;
    margin-top: 15px;
  }
}

.contacts__coments {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.66;
  margin-top: 25px;
  color: #907e82;
}

@media screen and (min-width: 768px) {
  .contacts__coments {
    font-size: 14px;
    line-height: 1.15;
    margin-top: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__coments {
    font-size: 16px;
    line-height: 1.81;
    margin-top: 10px;
  }
}

.contacts__coments::after {
  content: '';
  display: block;
  position: relative;
  width: 179px;
  height: 1px;
  bottom: -25px;
  border-radius: 2px;
  background-color: #e1e1e1;
}

@media screen and (min-width: 768px) {
  .contacts__coments::after {
    bottom: -30px;
  }
}

.contacts__text--50px {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  margin-top: 50px;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .contacts__text--50px {
    font-size: 14px;
    line-height: 1.86;
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__text--50px {
    font-size: 16px;
    margin-top: 64px;
  }
}

.contacts__time {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  color: #ffa5ba;
}

@media screen and (min-width: 768px) {
  .contacts__time {
    font-size: 14px;
    line-height: 1.86;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__time {
    font-size: 16px;
  }
}

.contacts__tel::after {
  content: '';
  display: block;
  position: relative;
  width: 179px;
  height: 1px;
  bottom: 45px;
  border-radius: 2px;
  background-color: #e1e1e1;
}

@media screen and (min-width: 768px) {
  .contacts__tel::after {
    bottom: 55px;
  }
}

.contacts__tel {
  display: block;
  font-family: DM Sans;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.15;
  color: #907e82;
  margin-top: 50px;
}

@media screen and (min-width: 768px) {
  .contacts__tel {
    font-size: 14px;
    line-height: 1.83;
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__tel {
    font-size: 16px;
    line-height: 1.83;
    margin-top: 64px;
  }
}

.contacts__mail {
  display: block;
  font-family: DM Sans;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.15;
  color: #907e82;
}

@media screen and (min-width: 768px) {
  .contacts__mail {
    font-size: 14px;
    line-height: 1.83;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__mail {
    font-size: 16px;
  }
}

.contacts__cards {
  display: block;
}

@media screen and (min-width: 768px) {
  .contacts__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.contacts__bottom {
  display: block;
}

@media screen and (min-width: 768px) {
  .contacts__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 80px;
  }
}
/*# sourceMappingURL=main.css.map */