:root {
  --main-accent-color: #d41443;
  --secondary-accent-color: #c7133e;
  --third-accent-color: #d41342;
  --non-accent-color: #fea5bb;
  --title-label: #ffa5ba;
  --background-color: #ffb8ca;
  --background-color-coffee: #f0d1a5;
  --background-color-shakes: #c2e297;
  --main-black-color: #000000;
  --main-white-color: #ffffff;
  --main-gray-color: #907e82;
}

body {
  font-family: 'DM Sans', sans-serif;
  color: var(--main-black-color);
  font-size: 16px;
  letter-spacing: 0.04em;
  background-color: var(--main-white-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
  font-family: inherit;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}

.products {
  padding-top: 127px;
  padding-bottom: 119px;
}

.products-article {
  font-family: Titan One;
  font-size: 30px;
  line-height: 1.13;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--title-label);
  margin-bottom: 15px;
}

.products-title {
  font-family: Titan One;
  font-size: 58px;
  line-height: 1.14;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--main-accent-color);
  margin-bottom: 49px;
}

.product-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-list__item {
  padding-top: 163px;
  padding-bottom: 50px;
  width: 329px;
  height: 525px;
  border-radius: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-list__item--cream {
  background-color: var(--background-color);
  margin-right: 29px;
}

.product-list__item--coffee {
  background-color: var(--background-color-coffee);
  margin-right: 30px;
}

.product-list__item--shakes {
  background-color: var(--background-color-shakes);
}

.product-list__title {
  font-family: Titan One;
  font-size: 30px;
  line-height: 1.13;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--main-white-color);
  margin-bottom: 32px;
}

.product-list__article {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.8;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--main-white-color);
  padding-left: 44px;
  padding-right: 44px;
  margin-bottom: 62px;
}

.products-button {
  width: 40px;
  height: 40px;
}
/*# sourceMappingURL=main.css.map */