<head class="header">
    <div class="container">        
        <nav class="page-nav">
            <a href="" class="header-logo">
                <img src="" alt="">
            </a>
            <ul class="site-nav list">
                <li class="site-nav__item"><a href="" class="site-nav__link site-nav__item--active">Home</a></li>
                <li class="site-nav__item"><a href="" class="site-nav__link">Contact</a></li>
                <li class="site-nav__item"><a href="" class="site-nav__link">How it’s made?</a></li>
                <li class="site-nav__item"><a href="" class="site-nav__link">Our products</a></li>
                <li class="site-nav__item"><a href="" class="site-nav__link">Contact</a></li>
            </ul>
            <div></div>
            <button type="button" class="hero__btn">How it’s made?</button>
        </nav>
        <section class="hero">
            <div class="hero-container">
                <h1 class="hero-container__title">ice cream made with passion</h1>
                <button type="button" class="hero__btn">Products</button>
                <button type="button" class="hero__btn">How it’s made?</button>
            </div>
            <div>
                <b>16</b>
                <p>cafes</p>
            </div>
            <div>
                <b>23</b>
                <p>food trucks</p>
            </div>
        </section>
    </div>
</head>