<div class="backdrop is-hidden" data-modals>
    <div class="modal-two">
        <button class="btn-close-two" aria-label="Закрыть окно" data-modals-close>
            <svg class="btn-close-two__icon-two">
                <use href="images/icons.svg#icon-close"></use>
            </svg>
        </button>
        <h2 class="modal__caption">Delicious</h2>
        <p class="modal__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit ullam consequatur similique, enim sequi assumenda ut nesciunt eum incidunt, ab deserunt, nihil consequuntur? Nostrum alias a delectus aut, possimus mollitia.</p>
        <h3 class="modal__caption">Species</h3>
        <p class="modal__text-two">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit ullam consequatur similique, enim
            sequi assumenda ut nesciunt eum incidunt, ab deserunt, nihil consequuntur? Nostrum alias a delectus aut, possimus
            mollitia.</p>
    </div>
</div>