.header-container {
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	height: 502px;
	padding: 6px 20px 0px 20px;
	@include tab {
		padding: 37px 34px 0px 34px;
		height: 399px;
	}
}
.header {
	background-color: var(--background-color);
	width: 100%;
}

.page-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	&__menu-btn {
		position: absolute;
		top: 25px;
		right: 20px;
		width: 20px;
		height: 12px;
		z-index: 2;
		@include tab {
			top: 52px;
			right: 224px;
		}
	}
	&__burger {
		width: 20px;
		height: 12px;
		vertical-align: top;
	}
	&__btn {
		display: none;
		width: 160px;
		height: 44px;
		background-color: var(--main-white-color);
		color: var(--main-accent-color);
		border-radius: 22px;
		@include font(16px, 700, 1.31, 0.03em);
		@include tab {
			display: block;
		}
	}
}

.hero-container {
	position: absolute;
	top: 193px;
	left: 20px;
	z-index: 5;
	@include tab {
		top: 102px;
		left: 34px;
	}
}
.hero-container__title {
	font-family: Titan One, sans-serif;
	text-transform: uppercase;
	@include font(26px, 400, 1.15, 0.04em);
	color: var(--main-white-color);
	padding-bottom: 19px;
	@include tab {
		@include font(22px, 400, 1.14, 0.04em);
	}
}

.hero-container__title--accent {
	font-family: Titan One, sans-serif;
	text-transform: uppercase;
	@include font(48px, 400, 0.97, 0.02em);
	color: var(--main-accent-color);
	@include tab {
		@include font(34px, 400, 0.91, 0.02em);
	}
}

.hero-picture {
	position: absolute;
	right: 32px;
	bottom: 0;
	z-index: 3;
	@include tab {
		right: 247px;
	}
}

.hero-picture-girl {
	display: none;
	@include tab {
		display: block;
		position: absolute;
		right: 34px;
		bottom: 0;
		z-index: 4;
	}
}

.hero-picture-milk {
	display: none;
	@include tab {
		display: block;
		position: absolute;
		left: 34px;
		bottom: 28px;
	}
}

.ellipse {
	position: absolute;
	right: -62px;
	bottom: 75px;
	background-color: var(--title-label);
	width: 346px;
	height: 344px;
	border-radius: 50%;
	@include tab {
		right: 139px;
		bottom: 45px;
		width: 322px;
		height: 322px;
	}
}

.hero__btn {
	width: 83px;
	height: 24px;
	background-color: var(--main-white-color);
	color: var(--main-accent-color);
	border-radius: 20px;
	@include font(8px, 400, 1.25, null);
	text-align: center;
	&--accent {
		width: 83px;
		height: 24px;
		background-color: var(--main-accent-color);
		color: var(--main-white-color);
		border-radius: 20px;
		@include font(8px, 400, 1.25, null);
		text-align: center;
		margin-right: 8px;
	}
}

.hero-inform__16 {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	position: absolute;
	top: 96px;
	right: 44px;
	&::after {
		content: '';
		position: absolute;
		top: -2px;
		right: -10px;
		width: 16px;
		height: 16px;
		border-radius: 50%;
		background-color: var(--main-white-color);
	}
}

.hero-inform {
	display: none;
	@include tab {
		display: block;
	}
}

.hero-inform__26 {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	position: absolute;
	top: 152px;
	right: 42px;
	&::after {
		content: '';
		position: absolute;
		top: -1px;
		right: -8px;
		width: 16px;
		height: 16px;
		border-radius: 50%;
		background-color: var(--main-white-color);
	}
}

.hero-inform__number {
	z-index: 2;
	font-family: Titan One, sans-serif;
	@include font(28px, 400, 1.14, 0.04em);
	color: var(--main-accent-color);
}

.hero-inform__text {
	@include font(8px, 400, 1.25, 0.04em);
	color: var(--main-white-color);
}

.header-title {
	display: none;
	&::after {
		content: '\2192';
		font-size: 20px;
		color: black;
		position: absolute;
		top: -1px;
		right: -8px;
		width: 18px;
		height: 18px;
		border-radius: 50%;
		background-color: var(--main-white-color);
	}
	@include tab {
		position: absolute;
		left: 154px;
		bottom: 59px;
		display: block;
		width: 114px;
		@include font(8px, 400, 1.5, 0.04em);
		color: var(--main-white-color);
	}
}
